<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title> Tareas </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showTask()">
        <ion-icon slot="start" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="spinner" *ngIf="isLoading; else taskList">
    <ion-spinner name="lines" ></ion-spinner>
  </div>
  <ng-template #taskList>
    <ion-list>
      <ion-row>
        <ion-col size="12"  *ngFor="let task of tasks">
          <ion-row>
            <ion-col size="2">
              <div class="checkbox">
                <ion-checkbox mode="ios" [(ngModel)]="task.status" (click)="taskChange($event, task.id)"></ion-checkbox>
              </div>
            </ion-col>
            <ion-col size="10">
              <ion-item (click)="showTask(task)">
                <ion-row>
                  <ion-col size="12">
                    <ion-label>{{ task.name }}</ion-label>
                  </ion-col>
                  <ion-col size="12">
                    <small style="color: #5e5e5e;">{{ task.updated_dif }}</small>
                  </ion-col>
                </ion-row>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>



      <!-- <ion-item *ngFor="let task of tasks" (click)="showTask(task)">
        <ion-label (click)="showTask(task)">{{ task.name }}</ion-label>
      </ion-item> -->
    </ion-list>
  </ng-template>
</ion-content>
